@import url(fonts/FontAwesome/css/font-awesome.css);
@import url(fonts/Silkscreen/stylesheet.css);

body {
  font-family: 'SilkscreenNormal';
  color: #0F0;
  background-color: #000;
  font-size: 16pt;
  margin: 0;
  padding: 7%;
  border: 50pt solid #111;
}

.fade {
  color: #060;
}

h2 {
  margin:0;
  padding:0;
  font-size: inherit;
}

h3 {
  font-size: inherit;
}

small {
  font-size: 8pt;
  color: #444;
}

input {
  font-family: inherit;
  background-color: #000;
  border: 0;
  color: #0F0;
  font-size: 16pt;
}

#ready {
  width: 120px;
  height: 54px;
  float: right;
}

.readyuser:after {
  content: ' (READY)';
}

.ready {
  background-image: url(img/ready.png);
}

.notready {
  background-image: url(img/notready.png);
}

#users {
  padding: 0;
  margin: 0;
}

#users * {
  list-style: none;
}

.error {
  color: #F00;
}

#step2 {
  display: none;
}

.popover {
  display: none;
}

.popup {
  position: fixed;
  left: 15%;
  top: 20%;
  width: 50%;
  background: #000;
  padding: 5%;
  border: 10pt solid #0F0;
  z-index: 100;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 10;
  opacity: 0.8;
}

.icon {
  float: right;
  font-size: 60pt;
}

.spy-icon {
  color: #F00;
}

.resistance-icon {
  color: #00F;
}

a {
  background-color: #0F0;
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #0F0;
  background-color: #000;
}

a:after {
  content: ' <';
}

a:before {
  content: '> ';
}

#ready-picker {
  position: absolute;
  right: 100pt;
  bottom: 100pt;
  text-align: right;
}

.round .winner {
  width: 9pt;
  height: 9pt;
  float: left;
  margin-top: 3pt;
  margin-right: 10pt;
}

.winner.spy {
  background-color: #F00;
}

.winner.resistance {
  background-color: #00F;
}

#game {
  display: none;
}

#lobby {
  /*
  display: none;
  */
}

#leader-pick i {
  margin-right: 10pt;
  font-size: 14pt;
}

#leader-pick {
  list-style: none;
}
